/*
 * Widgets
 */

.widget {

  @include container-padding(1.5);
  position: relative;
  max-width: $container-huge-width;

}

.widget-title {

  font-size: ms(1);
  line-height: ms(1);
  font: 700 normal 20px "proxima-nova", Helvetica, Sans-serif;
  color: $color-brand-primary;
}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

 /* &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color: $color-brand-quaternary;

    content: "";

  }*/

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  //background-color: $color-grey-10;

  &:before {

    //background-color: $color-grey-10!important;

  }

}

.site-footer {
	background-color: $color-grey-10;
}

.wcb_widget_sponsors {
	display: flex;
	flex-flow: row wrap;
	
	h2 {
		color: $color-brand-secondary;
		flex: 1 100%;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: $regular;
		border:1px solid $color-brand-secondary;
		padding: rem(20) 0;
	}
	
	h4.sponsor-level-title {
		color: $color-text-strong-invert;
		font-size: ms(0);
		text-transform: uppercase;
		background-color: $color-brand-secondary;
		padding: rem(5) 0;
	}
	
	.sponsor-level {
		flex: 1 100%;
		
		@include breakpoint(medium) {
			flex: 1 30%;
			padding: rem(20);
			justify-content: space-between;
		}	
	}
}

#footer-widgets {
	display: flex;
	flex-flow: row wrap;
	
	.footer-widgets-block {
		flex: 1 100%;
		
		@include breakpoint(medium) {
			flex: 1 30%;
		}
	}
	
	#footer-widget-3 {
		.widget_custom_html {
			img {
				display: inline-block;
				max-width: auto;
			}
		}
		
		.widget_rss {
			.rss-widget-icon {
				display: none;
			}
			
			ul {
				margin-left: -45px;
			}
			
			li {
				list-style: none;
				
				span.rss-date {
					display: block;
				}
			}
		}
	}
}

/* Added by other organizers to the original site */
.wccsp-header.overlay h1 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 0;
	font-weight: 300;
	text-align: center;
}

/* Added by Travis for 2018 */
.tix-column-remaining .single-wcb_session footer, .single-wcb_session #content > nav, .single-wcb_session .session-speakers, .single-wcb_session ul#session-speaker-names, .tix-row-question-415, .tix-row-question-423, .type-wcb_speaker .speaker-avatar, .type-wcb_speaker .nav-links {
	display: none;
}

.tix-column-remaining {
	display: none;
}

.widget h3.widget-title a.rsswidget, .widget h3.widget-title a.rsswidget:hover {
	color: #fff;
	text-decoration: none;
}

/* Added by Karissa 3/3/18 */
#post-194 .entry-thumbnail img {
	display: none;
}

.author-info {
	display: none;
}

.wcpt-session-speakers::before {
	content: " &#xBB; ";
	font-size: 10px;
	font-size: 1rem;
	color: #000;
}